@font-face {
	font-family: 'icons';
	src:  url('../Source/fonts/fonts/icons.eot?mlhaff');
	src:  url('../Source/fonts/fonts/icons.eot?mlhaff#iefix') format('embedded-opentype'),
	  url('../Source/fonts/fonts/icons.ttf?mlhaff') format('truetype'),
	  url('../Source/fonts/fonts/icons.woff?mlhaff') format('woff'),
	  url('../Source/fonts/fonts/icons.svg?mlhaff#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
 }

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fridge:before {
  content: "\e917";
}
._icon-gruppa1:before {
  content: "\e918";
}
._icon-komnata:before {
  content: "\e91c";
}
._icon-metr:before {
  content: "\e91d";
}
._icon-people:before {
  content: "\e91e";
}
._icon-razmerkomn:before {
  content: "\e91f";
}
._icon-rooms:before {
  content: "\e920";
}
._icon-sea:before {
  content: "\e921";
}
._icon-tea:before {
  content: "\e922";
}
._icon-tv:before {
  content: "\e923";
}
._icon-wifi:before {
  content: "\e924";
}
._icon-alarm1:before {
  content: "\e925";
}
._icon-city:before {
  content: "\e926";
}
._icon-clothes:before {
  content: "\e927";
}
._icon-coffee:before {
  content: "\e928";
}
._icon-pitanie:before {
  content: "\e912";
}
._icon-hotel:before {
  content: "\e914";
}
._icon-money1:before {
  content: "\e915";
}
._icon-logotip:before {
  content: "\e911";
  color: #fff;
}
._icon-adresloc:before {
  content: "\e90f";
}
._icon-phone-mail:before {
  content: "\e910";
}
._icon-24:before {
  content: "\e900";
}
._icon-autobus:before {
  content: "\e902";
}
._icon-duration:before {
  content: "\e903";
}
._icon-format:before {
  content: "\e904";
}
._icon-gids:before {
  content: "\e906";
}
._icon-gruppa:before {
  content: "\e907";
}
._icon-happiness:before {
  content: "\e908";
}
._icon-rubl-1:before {
  content: "\e909";
}
._icon-rubl-big:before {
  content: "\e90a";
}
._icon-rubl-regulyar:before {
  content: "\e90c";
}
._icon-voditeli:before {
  content: "\e90e";
}
._icon-pdf:before {
  content: "\e90b";
}
._icon-money:before {
  content: "\e901";
}
._icon-prochnost:before {
  content: "\e905";
}
._icon-telega:before {
  content: "\e94f";
}
._icon-confidence:before {
  content: "\e94d";
}
._icon-angles-down:before {
  content: "\e90d";
}
._icon-arrow-down-long:before {
  content: "\e913";
}
._icon-cc-mastercard:before {
  content: "\e919";
}
._icon-cc-visa:before {
  content: "\e91a";
}
._icon-check:before {
  content: "\e91b";
}
._icon-comment-dots:before {
  content: "\e92e";
}
._icon-credit-card:before {
  content: "\e92f";
}
._icon-envelope:before {
  content: "\e931";
}
._icon-facebook:before {
  content: "\e932";
  color: #fff;
}
._icon-insta:before {
  content: "\e935";
  color: #fff;
}
._icon-odnoklassniki:before {
  content: "\e937";
  color: #fff;
}
._icon-phone:before {
  content: "\e938";
  color: #fff;
}
._icon-square-check:before {
  content: "\e93a";
}
._icon-twiter:before {
  content: "\e940";
  color: #fff;
}
._icon-twitter:before {
  content: "\e941";
}
._icon-vkontakte:before {
  content: "\e943";
  color: #fff;
}
._icon-whatsapp:before {
  content: "\e944";
}
._icon-youtube:before {
  content: "\e946";
}
._icon-film:before {
  content: "\e916";
}
._icon-cart:before {
  content: "\e950";
}
._icon-phone1:before {
  content: "\e945";
}
._icon-pushpin:before {
  content: "\e952";
}
._icon-location:before {
  content: "\e94e";
}
._icon-location2:before {
  content: "\e953";
}
._icon-compass2:before {
  content: "\e94a";
}
._icon-map:before {
  content: "\e94b";
}
._icon-map2:before {
  content: "\e94c";
}
._icon-history:before {
  content: "\e951";
}
._icon-clock:before {
  content: "\e954";
}
._icon-alarm:before {
  content: "\e955";
}
._icon-calendar:before {
  content: "\e956";
}
._icon-users:before {
  content: "\e972";
}
._icon-hour-glass:before {
  content: "\e979";
}
._icon-spinner6:before {
  content: "\e97f";
}
._icon-spinner11:before {
  content: "\e984";
}
._icon-airplane:before {
  content: "\e9af";
}
._icon-blocked:before {
  content: "\ea0e";
}
._icon-cross:before {
  content: "\ea0f";
}
._icon-play2:before {
  content: "\ea15";
}
._icon-pause:before {
  content: "\ea16";
}
._icon-stop:before {
  content: "\ea17";
}
._icon-play3:before {
  content: "\ea1c";
}
._icon-pause2:before {
  content: "\ea1d";
}
._icon-stop2:before {
  content: "\ea1e";
}
._icon-whatsapp1:before {
  content: "\ea93";
}
